.heading{
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    background-color: #060930;
    color: #595b83;
    text-align: center;
    padding: 1rem;
}

.card-bg{
    background-color: #f1f6f9;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1rem;
}

